body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}


h2{
    color:red;
    text-align:center;
}

.image{
    max-width:300px;
    border-radius:25px;
    margin: 10px auto 20px 50px;
}

.paragrap{
    font-size: 1.2rem;
}
.paragrap a{
    color: rgb(101, 173, 255);
    font-weight: 600;
    text-decoration: none;
}

.list-heading{
    font-size: 1.5rem;
    color: aqua;
}
.lists p{
    font-weight: 600;
}

.lists p em{
    color: red;
    margin-right: 20px;
    font-size: 1.5rem;
}

.lists ul{
    list-style-type: none;
    /* list-style-type: decimal; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: square; */
}

.lists li{
    font-size: 1.2rem ;
    color: gray;
    margin-bottom: .5rem;
}

.form-control{
    max-width: 540px;
    margin: auto;
    padding: 3rem;
    background-color: #dbecff;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 2px rgb(79, 199, 255);
    /* display: flex; */
    display: grid;
}

.form-control label, input{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form-control input{
    padding: 1rem;
}

.form-control button{
    margin: auto;
    padding: 1rem 2rem;
    border: none;
    background: #8694ff;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.form-control button:hover{
    background: #ffffff;
    color: #8694ff;
    /* background: #8694ff; */
    /* color: #ffffff; */
}

footer{
    padding: 2rem 3rem;
    margin-top: 3rem;
    background-color: gray;
}

footer p{
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}
footer a{
    color: turquoise;
}